VITE_SITE_NAME="Karthikeya Customized Gifts"
VITE_SITE_SHORT_NAME="Karthikeya Gifts"
VITE_CONTACT_EMAIL="info@example.com"
VITE_CONTACT_PHONE="+91 90000 00000"
VITE_WHATSAPP_NUMBER="919000000000"
VITE_INSTAGRAM_URL="https://instagram.com/yourhandle/"
VITE_INSTAGRAM_HANDLE="@yourhandle"
VITE_FACEBOOK_URL="#"
VITE_MAP_LINK="https://maps.app.goo.gl/..."
VITE_MAP_EMBED_URL="https://www.google.com/maps/embed?pb=..."
